body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    z-index: 2;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto); 
    gap: 10px; 
    padding: 10px;
    padding-left: 220px; 
    padding-right: 220px; 
}

.grid-item {
    background-color: #f0f0f0;
    overflow: hidden;
    position: relative;
    width: 80%;
    height: auto;
    margin: 9%; 

}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}
.grid-item p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    width: calc(100% - 20px);
    text-align: center;
    transition: background-color 0.3s ease;
}

.grid-item:hover p {
    background-color: rgba(0, 0, 0, 0.8);
}

.left-column {
    position: fixed;
    left: 10px;
    width: 200px;  
    
    z-index: 0;
}

.left-column img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
}

.right-column{
    
    position: fixed;
    right: 10px;
    width: 200px; 
    height: 100%;
    z-index: 0;
    background-size: cover; 
    background-position: center; 
}

.right-column img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
}

.login-form {
    position: absolute;
    top: 10%;
    right: 10px;
    
}

.login-form form {
    display: flex;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 5px;
    margin-right: 5px;
}

.login-form a {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}