body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  z-index: 2;
  position: relative;
}
.developer {
  text-align: center;
  margin: 20px;
}

/* .developer img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10%;
  display: block;
  margin: 0 auto;
} */
.developer p {
  margin: 0;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  white-space: pre;
}

th {
  background-color: #f2f2f2;
}

td img {
  width: 700px;
  height: 700px;
  border-radius: 10%;
  display: block;
  margin: 0 auto;
}
a.Telegram {
  width: 50px;
  height: 50px;
  border: 2px solid blue;
  border-radius: 50%;
}
td a {
  width: 100px;
  height: 300px;
  border-radius: 10%;
  margin: 0 auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer div {
  display: flex;
  flex-direction: column;
}
footer a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 5px;
}
footer a:hover {
  color: #0d5fa9;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* --------------------- */
nav ul li a:hover {
  color: #0d5fa9;
}

p {
  font-weight: 900;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px 20px 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  margin-bottom: 20px;
  text-align: center;
}
form {
  max-width: 600px;
  margin: 0 auto;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  /* border-radius: 5px; */
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
textarea {
  height: 150px;
  font-size: 15px;
}
input[type="submit"] {
  background-color: #fff; /*  фон */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: "Sofia Sans", sans-serif;
  font-size: 16px;
  transition: transform 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #8a8a8a5b;
  transform: scale(1.05);
}

.errors ul {
  margin-top: 0px;
}

.errors p {
  margin-bottom: 10px;
}

.container .errors {
  transition: all 0.3s;
  opacity: 0.1;
  display: none;
}

.login-form {
  position: absolute;
  top: 10%;
  right: 10px;
}

.login-form form {
  display: flex;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  padding: 5px;
  margin-right: 5px;
}

.login-form a {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  padding: 10px;
  padding-left: 220px;
  padding-right: 220px;
}

.grid-item {
  background-color: #f0f0f0;
  overflow: hidden;
  position: relative;
  width: 70%;
  height: 70%;
  margin: 9%;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* ----------------------- */
/* ----------------------- */
main {
  margin-bottom: 70px;
}
.block-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.photo {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.link-photo {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 40%;
  justify-content: center;
}
